.logo-img {
    width: 75px;
    margin-right: 100px;
    cursor:pointer;
}

nav {
    justify-content: space-between;
}

.full-name{
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #0000ff;
}

.sign-out {
    padding-top: 12px;
    padding-right: 15px;
    padding-left: 15px;
    color: #0000ff;
    cursor:pointer;
}

.store-home-link{
    padding-top: 12px;
    padding-right: 15px;
    padding-left: 15px;
    color: #0000ff;
    cursor:pointer;
}