.logo-img {
    width: 75px;
    margin-right: 100px;
    cursor:pointer;
}

nav {
    justify-content: space-between;
}

.full-name{
    padding-right: 25px;
    padding-top: 12px;
    color: #0000ff;
}