<div class="container-fluid card update-password-container">

    <div class="text-center update-password-header">
        <p class="home-link" (click)="home()">Home</p>
        <h3>Update Password</h3>
    </div>

    <div class="update-password">

        <div class="alert alert-danger" role="alert" *ngIf="errMsg.length">
            <p *ngFor="let msg of errMsg">{{ msg }}</p>
        </div>
    
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input [(ngModel)]="profileRequest.oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Old Password">
        </div>
        
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input [(ngModel)]="profileRequest.newPassword" type="password" class="form-control" id="newPassword" placeholder="New Password">
        </div>

        <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <input [(ngModel)]="cnfPassword" type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password">
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </div>
            <div class="col">
                <button class="btn btn-primary" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>


