.pdp-header {
    background-color: #ececec;
    padding-bottom: 20px;
}

.quantity-bar {
    display: flex;
    align-items: center;
}

.quantity-bar input {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

.btn-primary {
    background-color: #fe5757;
    border-color: #fe5757;
    width: 90%;
    padding: 5px;
    margin: 20px 0px;
}

.stock-status {
    padding-left: 15px;
    padding-top: 9px;
}
