<div class="header-top">
    <nav class="nav">
        <a class="nav-link" href="#">Find a store</a>
        <a class="nav-link" href="#">contact us</a>
        <a class="nav-link" href="#">help</a>
      </nav>
</div>
<div class="line-break"></div>
<div class="header-bottom">  
    <div class="header-bottom-top">
        <img class="logo-img" src="../../assets/SAP_scrn_R.png" (click)="home()">
        <div class="search-container">
            <input class="search" type="search" placeholder="Search here" aria-label="Search">
            <i class="fa fa-search search-icon"></i>
        </div>
    </div>
    <span class="user-cart" *ngIf="isLoggedIn() else loggedOut">
        <div class="logged-in-user">Welcome, {{ fullName }}</div>
        <i class="fa-solid fa-cart-shopping"></i>
        <div class="sign-out" (click)="logout()">Logout</div>
    </span>
    <ng-template #loggedOut>
        <div class="sign-in-register-link" (click)="login()">Sign In / Register</div>
    </ng-template>
    
</div>
<div class="category-nav">
    <span class="nav-item dropdown" *ngFor="let category of categories">
        <span *ngIf="!category.superCategories?.length" class="dropdown-hover">
            <span class="nav-link dropdown-toggle category-root-entry">{{ category.name }}</span>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-header" *ngIf="category.subCategories?.length">
                    <a (click)="categoryPage(category.code)">Shop all {{category.name}}</a>
                </li>
                <li class="dropdown-items" *ngFor="let subcategory of category.subCategories">
                    <span (click)="categoryPage(subcategory)">{{ subcategory }}</span>
                </li>
            </ul>
        </span>
    </span>
</div>


