<div class="header-top">
    <nav class="nav">
        <a class="nav-link" href="#">Find a store</a>
        <a class="nav-link" href="#">contact us</a>
        <a class="nav-link" href="#">help</a>
      </nav>
</div>
<div class="line-break"></div>
<div class="header-bottom">  
    <!-- <nav class="nav"> -->
        <div class="header-bottom-top">
            <img class="logo-img" src="../../assets/SAP_scrn_R.png">
            <div class="search-container">
                <input class="search" type="search" placeholder="Search here" aria-label="Search">
                <i class="fa fa-search search-icon"></i>
            </div>
        </div>
        <a class="nav-link sign-in-register-link" href="#">Sign In / Register</a>
        <i class="fa-solid fa-cart-shopping"></i>
    <!-- </nav> -->
</div>
