.header-top {
    background-color:#212738;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.header-top, 
.header-bottom,
.header-top a{
    color: #d3d6db;
}

.header-top a:hover{
    color: #fe5757;
    text-decoration: underline;
}

.header-bottom{
    background-color:#212738;
    padding: 15px 5% 15px 5%;
}

.category-nav {
    background-color:#212738;
    padding: 15px 5%;
    display: flex;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}


.logo-img {
    width: 80px;
    cursor:pointer;
}

.header-bottom-top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.search {
    background-color: #8a8c8f;
    padding: 10px 40px 10px 10px;
    width: -webkit-fill-available;
    border-style: unset;
}

input.search:focus {
    border-color: #8a8c8f;
}


.search::placeholder {
    color: white;
    opacity: 1; 
}

.search-icon {
    position: absolute;
    top: 40%;
    right: 5%;
    color: white;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 30%;
}

.sign-in-register-link {
    color: #fe5757;
    cursor: pointer;
}

.user-cart {
    margin: 10px;
}

.fa-cart-shopping {
    color: red;
    display: inline;
    margin: 20px;
    cursor:pointer;
}

.line-break {
    margin: 1px;
}

.category-root-entry:hover {
    color: #fe5757 !important;
}

.category-nav .dropdown-hover:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%; /* Display below the dropdown */
    font-weight: normal;
    min-width: 15rem;
    text-align: center;
    border-radius: unset;
}

.dropdown-menu-header {
    text-decoration: underline;
}

.dropdown-items {
    padding: 3px;
    text-transform: capitalize;
}

.logged-in-user{
    margin: 20px;
    color: white;
}

ul.my-account-dropdown {
    list-style-type: none;
    position: absolute;
    padding: unset;
    background-color: white;
    z-index: 1;
    display: none;
    border: #b1b4b7;
    border-style: solid;
    border-width: 1px;
}

.account-dropdown:hover .my-account-dropdown {
    display: block;
}

.account-dropdown {
    display: inline-block;
    color: white;
    cursor: pointer;
}

.my-account-dropdown li {
    padding: 5px 15px;
    color: #000;
}


