<div class="header-top">
    <nav class="nav">
        <a class="nav-link" href="#">Find a store</a>
        <a class="nav-link" href="#">contact us</a>
        <a class="nav-link" href="#">help</a>
      </nav>
</div>
<div class="line-break"></div>
<div class="header-bottom">  
    <div class="header-bottom-top">
        <img class="logo-img" src="../../assets/SAP_scrn_R.png" (click)="home()">
        <span class="search-container">
            <input class="search" type="search" placeholder="Search here" aria-label="Search">
            <i class="fa fa-search search-icon"></i>
        </span>  
        <span class="user-cart" *ngIf="isLoggedIn() else loggedOut">
            <span class="logged-in-user">Hi, {{ fullName }}</span>
            <div class="account-dropdown">
                <span class="my-account dropdown-toggle">My Account</span>
                <ul class="my-account-dropdown">
                    <li class="dropdown-items" (click)="orderHistory()">Order History</li>
                    <li class="dropdown-items" (click)="wishlist()">Wish List</li>
                    <li class="dropdown-items" (click)="pesonalDetails()">Personal Details</li>
                    <li class="dropdown-items" (click)="updatePassword()">Password</li>
                    <li class="dropdown-items" (click)="logout()">Logout</li>
                </ul>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>
        </span>
        <ng-template #loggedOut>
            <span class="sign-in-register-link" (click)="login()">Sign In / Register</span>
        </ng-template>
    </div>
</div>
<div class="category-nav">
    <span class="nav-item dropdown" *ngFor="let category of categories">
        <span *ngIf="!category.superCategories?.length" class="dropdown-hover">
            <span class="nav-link dropdown-toggle category-root-entry">{{ category.name }}</span>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-header" *ngIf="category.subCategories?.length">
                    <a (click)="categoryPage(category.code)">Shop all {{category.name}}</a>
                </li>
                <li class="dropdown-items" *ngFor="let subcategory of category.subCategories">
                    <span (click)="categoryPage(subcategory)">{{ subcategory }}</span>
                </li>
            </ul>
        </span>
    </span>
</div>


