/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.error {
    border-color: #db0002;
    color: #db0002;
}

.home-link:hover {
    color: #fe5757;
    text-decoration: underline;
    cursor: pointer;
}

.grey {
    color: #828282;
}