<footer>
    <div class="footer-columns">
        <div class="footer-column">
            <h3>SAP Commerce Cloud</h3>
            <ul>
                <li><a href="http://www.cx.sap.com/products/commerce">About SAP Commerce Cloud</a></li>
                <li><a href="#">Frequently Asked Questions</a></li>
              </ul>
        </div>
        
        <div class="footer-column">
            <h3>SAP Customer Experience</h3>
            <ul>
                <li><a href="http://www.cx.sap.com">Visit SAP</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
        </div>

        <div class="footer-column">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="http://www.agile-commerce.com">Agile Commerce Blog</a></li>
                <li><a href="http://www.linkedin.com/groups/5063400">Linked In</a></li>
                <li><a href="http://www.facebook.com/sapcx">Facebook</a></li>
                <li><a href="http://www.twitter.com/SAP_CX">Twitter</a></li>
              </ul>
        </div>
    </div>
</footer>